.vscode/~
.vscode/tasks.json
.vscode/launch.json
.vscode/ipch/8cdb969584c3d8b2/scene-start.ipch
.vscode/ipch/13c22dc95e784427/scene-start bakk.ipch
.vscode/ipch/13c22dc95e784427/mmap_address.bin
.vscode/c_cpp_properties.json
.vscode/ipch/8cdb969584c3d8b2/mmap_address.bin
